/*----------------------------------------------------PAGE DE LOGIN------------------------------------------------*/
/*Forme général*/
.log_form{
	margin-top: 175px;
	background-color: #ffffff;
	padding-left: 0px ;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 300px;
	box-shadow: 2px 2px 21px 2px rgba(0, 0, 0, 0.3);
	border-radius: 7px;
}
/*Sign in et sign up*/
.sign{
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	padding-left: 80px;
	padding-top: 20px;
}
.sign li a{
	display: inline-block;
	float: left;
	text-align: center;
	padding-right: 20px;
	color: #4d4d4d;
}
.sign li a:hover{
	color: #4da6ff;
	text-decoration: none;
}
/*font icon user*/
.icn_1{
	text-align: center;
	font-size: 50px;
}

/*input*/
.input_content{
	padding-left: 12px;
}
.input{
	margin-bottom: 10PX;
	background-color: #f2f2f2;
	border-radius: 10px;
	border: 0px solid #e6e6e6;
	padding: 5px;
	padding-left: 0px;
	width: 275px;
	text-align: center;
}
.input.pswd{
	background-color: #ffffff;
	border-bottom: 1px solid #0099e6;
}

/*bouton*/
.btn_login{
	margin-left: 98px;
	margin-top: 10px;
	width: 100px;
	background-color: #f2f2f2;
	border-radius: 5px;
	margin-bottom: 20px;
}
.btn_login a{
	color: #4d4d4d;
	/*comment aligner au centre les boutons;*/
}
.btn_login a:hover{
	color: #4d4d4d;
	text-decoration: none;
}

/*Forgot password*/
.fgt_pswd{
	text-align: center;
	background-color: #f2f2f2;
	color: #4d4d4d;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

/*--------------------------------------------FIN LOG IN --------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------GENERALITES--------------------------------------------------------------*/
/*------------------Nav bar -------------------------------------------------------------------------------------------*/
#nav{
	/*background-color: #f2f2f2;*/
	background-image: linear-gradient(to right, #F8F8F8, #F5F5F5);
	text-align: left;
	padding-left: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-left: 0px;
	margin-bottom: 2px;
	box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.2);
}
#nav ul li {
	display: inline-block;
}
#nav ul li a{
	text-decoration: none;
	color: black;
	font-family: Trebuchet MS;
}

.to_rght{
	float: right;
	padding-left: 20px;
}
.to_lft{
	float: left;
	padding-right: 20px;
}
/*Espacement après le nom de l'application web*/
.official_name{
	padding-left: 20px;
	padding-right: 50px;
	color: #404040;
	font-family: Book Antiqua;
	font-size: 20px;
}
.official_name_exp{
	font-family: Pristina;
	color: #0099e6;
	padding-bottom: 0px;
}
/*Espace sous navbar*/
#under_navbar{
	height: 5px;
	background-color: #F5F5F5;
}

/*-----------------Fin Nav bar ----------------------------------------------------------------------------------------*/
/*------------------Nav left ------------------------------------------------------------------------------------------*/
#nav_left{
	padding-top: 2px;
	background-color: #F5F5F5;
}
#nav_left_2{
	box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to bottom, #F8F8F8, #F5F5F5, #E8E8E8);
	height: 600px;
}
#nav_left_2 ul{
	list-style-type: none;
	margin: ;
	padding: 0;
	padding-left: 8px;
	padding-top: 5px;
}
.titre{
	color: #0088cc;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 15px;
}
#after_nav_left{
	width: 2px;
}
/*Modifications polices texte*/
#nav_left_2 li{
	font-family: Trebuchet MS;
	font-size: 13px;
}
#nav_left_2 ul li a{
	color: black;
}
#nav_left_2 ul li a:hover{
	color: black;
	text-decoration: none;
}
#nav_left_2 i{
	color: #8c8c8c;
	font-size: 18px;
}
.nav_left_2_list{
	font-family: Trebuchet MS;
	font-size: 15px;
	line-height: 1.5; /* Définit la hauteur de la ligne, rehefa tsisy unité tonga dia en fonction anle taille anle police*/
	color: #333333;
}
.nav_left_2_list.active{
	color: #A80000;
}
/*-----------------Fin Nav left ---------------------------------------------------------------------------------------*/
/*-----------------Fenêtre central-------------------------------------------------------------------------------------*/
#window{
	background-color: #F5F5F5;
}
/*titre principal*/
#wdw_med{
	background-color:;
}
.wdw_ttle{
	font-size: 20px;
	border-bottom: 1px solid #0088cc;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-family: Trebuchet MS;
}

.wdw_input{
	border-radius: 5px;
	border: 2px solid #e6e6e6;
	background-color: #FFFFFF;
}



#tbl_1 th{
	text-align: center;
	font-size: 17px;
	margin: 0px;
	padding: 5px;
}
#tbl_1 td{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-left: 0px;
}
/*AUTRES*/
.tbl_ref, .tbl_qty, .tbl_dte, .tbl_act_1, .tbl_act_2{
	width: 1.5ex;
}
.tbl_pu{
	width: 100px;
	text-align: right;
}
/*Modif actions Update et Delete*/
.tbl_act_1{
	color: #0066CC;
}
.tbl_act_2{
	color: #A00000;
}
/*-----------------Fin fenêtre central --------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------FIN GENERALITES----------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------GESTION DES ARTICLES ---------------------------------------------------*/
/*--------1) Gestion de l'approvisionnement -------------------------------------------------------------*/
/*-----------1-a) Insertion des achats ------------------------------------------------------------------*/
.btn_send_command{
	padding-top: 20px;
	padding-left: 30%;
	align-content: center;
}
/*------------fin insertion des achats ------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-----------2-b) Liste des achats ----------------------------------------------------------------------*/



/*------------ fin liste des achats ---------------------------------------------------------------------*/
/*--------Fin gestion de l'approvisionnement-------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*--------2) Gestion du stock----------------------------------------------------------------------------*/
/*-----------2-a) Liste des articles---------------------------------------------------------------------*/



/*------------fin liste des articles --------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------Fin gestion du stock ---------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*--------3) Gestion de la caisse------------------------------------------------------------------------*/
/*----------3-a) Liste des ventes -----------------------------------------------------------------------*/



/*------------fin liste des ventes ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------Fin gestion de la caisse------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*--------4) Gestion des charges ------------------------------------------------------------------------*/
/*-----------4-a) Insertion des charges------------------------------------------------------------------*/
#btn_add_chges{
	margin-top: 20px;
	align-content: center;
}


/*------------fin insertion des charges------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*----------4-b) Liste des charges-----------------------------------------------------------------------*/



/*------------ fin liste des charges---------------------------------------------------------------------*/
/*--------Fin gestion des charges----------t-------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------FIN GESTION DES ARTICLES -------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------GESTION DES TIERS -------------------------------------------------------*/
/*--------1) Gestion des comptes clients et fournisseurs----------------------------------------------------------------*/
/*-----------1-a) Liste des clients----------------------------------------------------------------------*/



/*------------fin liste des clients ---------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-----------1-b) Liste des fournisseurs ----------------------------------------------------------------*/



/*------------ fin liste des fournisseurs ---------------------------------------------------------------*/
/*--------Fin gestion des comptes clients et fournisseurs------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*--------2) Banque--------------------------------------------------------------------------------------*/
/*-----------2-a) Liste des mouvements bancaires---------------------------------------------------------*/



/*------------fin liste des mouvements bancaires --------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------Fin Banque -------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*--------3) Gestion des membres-------------------------------------------------------------------------*/
/*----------3-a) Liste des membres ----------------------------------------------------------------------*/



/*------------fin liste des membres----------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------Fin gestion des membres-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------FIN GESTION DES TIERS ----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------